/* Add your own styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #c8a2c8;
    color: #fff;
    padding: 60px;
    text-align: center;
}

h1 {
    font-size: 45px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#lookup {
    background-color: #c8a2c8;
    color: #fff;
    padding: 8px;
    border: #c8a2c8;
}

#lookup:hover {
    background-color: #9a259a;
    border: #9a259a;
}

#country {
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border-radius: 4px;
}